body {
  background-color: white;
}

h1 {
  color: navy;
  margin-left: 20px;
}

#scotter{
	width: 100px;
	height: 100px;
	animation: example 2s;
}

@keyframes example{
	0%	{transform: translate(-160px,0px);}
	100%	{transform: translate(0px,0px);}
}
